.bg-container {
  background-image: linear-gradient(to bottom, #9ba9eb, #c3caea);
  min-height: 100vh;
  background-size: cover;
  padding: 50px;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.app-image-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.app-image {
  height: 88px;
  width: 190px;
  margin-bottom: 20px;
}
.container-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #5763a5;
  background-size: cover;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 40px;
}
.form-container {
  display: flex;
  flex-direction: column;
  background-color: #454f84;
  background-size: cover;
  border-radius: 10px;
  border-width: 0px;
  padding: 20px;
  width: 500px;
  margin-left: 40px;
}
.form-title {
  font-family: 'Roboto';
  font-size: 24px;
  color: #f8fafc;
  margin-bottom: 20px;
}
.input-container {
  display: flex;
  flex-direction: row;
  background-color: #f8fafc;
  border-radius: 5px;
  margin-bottom: 20px;
  height: 50px;
}
.input {
  font-family: 'Roboto';
  font-size: 18px;
  color: #94a3b8;
  width: 100%;
  border-width: 0px;
  border-left: 1px solid #94a3b8;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-left: 10px;
}
.input-img {
  height: 30px;
  width: 30px;
  background-color: transparent;
  margin-top: 8px;
  padding: 5px;
}
.btn-container {
  text-align: end;
}
.btn {
  height: 38px;
  width: 100px;
  text-align: center;
  color: #f8fafc;
  font-family: 'Roboto';
  background-color: #0b69ff;
  border-radius: 5px;
  border-width: 0px;
}
.container-1-img {
  background-color: transparent;
  background-size: cover;
}
.password-img {
  width: 580px;
  height: 400px;
}
.container-2 {
  display: flex;
  flex-direction: column;
  background-color: #5763a5;
  background-size: cover;
  padding: 40px;
  border-radius: 10px;
}
.cont2-top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cont2-head {
  display: flex;
  flex-direction: row;
}
.heading {
  font-family: 'Roboto';
  font-size: 24px;
  color: #f8fafc;
  margin-right: 5px;
}
.count {
  border: 1px solid #b6c3ca;
  border-radius: 10px;
  font-family: 'Roboto';
  font-size: 16px;
  color: #f8fafc;
  height: 26px;
  width: 28px;
  padding-left: 9px;
}
.cont2-show-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.show-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 20px;
}
.passwords-details {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 24px;
}
.pass-img {
  height: 400px;
  width: 400px;
}
.add-small-count {
  display: flex;
  flex-direction: column;
}
.add-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  border: 1px solid #9ba9eb;
  width: 230px;
  border-radius: 10px;
  padding: 10px;
  margin-right: 20px;
}
.btn-icon {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  border-width: 0px;
  background-color: aquamarine;
  color: white;
  margin-top: 30px;
  margin-right: 7px;
}
.add-text {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 16px;
}
.add-img {
  height: 20px;
}
.check-cont {
  display: flex;
  flex-direction: row;
}
.add-btn {
  height: 40px;
  width: 40px;
  border-width: 0px;
  background-color: transparent;
  margin-top: 30px;
}
.list {
  list-style-type: none;
  margin-left: 0px;
}
.str-img {
  height: 10px;
}
